.bola, .BOLA2, .bola3{
	background: url(sprites.png) no-repeat;
}

.bola{
	background-position: 0 0;
	width: 35px;
	height: 35px;
}

.BOLA2{
	background-position: -35px 0;
	width: 35px;
	height: 35px;
}

.bola3{
	background-position: -70px 0;
	width: 35px;
	height: 35px;
}

